*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #cf80cd;
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 0;
}

#video_bg{
    object-fit: cover;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -999;
}

nav{
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}


/*** Colors ***/
nav, input, .send-message-btn, .send-message-btn, main{
    background-color: #180013ea;
}

a, h1, h2{
    color: #f957ff;
}

p{
    color: #fdbbfb;
}

h1, h2, h3, nav a{
    font-family: 'Quantico', sans-serif;
}

a{
    text-decoration: none;
}

a{
    padding: 0.3rem;
    margin-left: 2rem;
    margin-right: 0.5rem;
}

nav a:hover{
    color: #fdbbfb;
}

h1, h2{
    padding-bottom: 1rem;
    padding-top: 1rem;
}

form{
    padding-bottom: 1rem;
    text-align: right;
    display: flex;
    flex-direction: column;
}

input, .send-message-btn, .big-text-box{
    background-color: #8B0087;
    width: 30%;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-style: none;
    padding: 0.5rem;
}

.big-text-box, input{
    color: #fdbbfb;
    opacity: 0.4;
}

.big-text-box, input, .send-message-btn{
    border-style: none;
    padding: 0.5rem;
    margin: 0 auto;
}

.big-text-box{
    color: #fdbbfb;
    font-size: 1rem;
    height: 5rem;
    width: 85%;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.big-text-box{
    margin: 0 auto;
}

.send-message-btn{
    cursor: pointer;
    margin: 1rem;
    margin-top: 2rem;
    padding: 0.6rem;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    color: white;
}

.send-message-btn:hover, input:hover, .big-text-box:hover{
    background-color: #a31d9f;
}

label{
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: white;
    padding-left: 0.7rem;
}

h2{
    font-size: 1.6rem;
}

main{
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0 2rem 2rem 2rem;
    width: 70%;
}

article{
    padding: 0.5rem;
    margin: 0 auto;
    margin-top: 1.4rem;
}

article small{
    display: block;
    width: 100%;
    color: #fdbbfb;
    font-style: italic;
    font-size: 0.7rem;
}

/* change this later: */
h3, article a{
    font-size: 1.7rem;
    padding-left: 0;
    margin-left: 0;
}

a, .send-message-btn{
    transition: 0.5s;
}

label{
    color: #fdbbfb;
}

p a{
    padding: 0;
    margin: 0;
}

p{
    padding-top: 1rem;
    padding-bottom: 2rem;
}