<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- TEMPORARY FONTS & STYLES-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tmp_styles.css') }}">
    <link rel="stylesheet" href="https://use.typekit.net/pkw8wgs.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    
    {% if title and base_title %}
        <title>My Blog Admin - {{ title }}</title>
    {% else %}
        <title>Admin</title>
    {% endif %}
</head>
<body>
    <nav>
      <!-- *** TEMPORARY LAYOUT *** -->
      <a href="/admin">INDEX OF ADMIN</a><br>
      <a href="/admin/dashboard">DASHBOARD</a><br>
      <a href="/admin/posts">POSTS</a><br>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>