body{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-top: 1rem;
    background-color: rgb(129, 165, 243);
}

nav{
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(185, 214, 238);
    padding: 1rem 2rem 1rem 2rem;
}

a{
    text-decoration: none;
}

nav a{
    background-color: #3472A4;
    color: yellow;
    padding: 0.5rem 2rem 0.5rem 2rem ;
}

nav a:hover{
    background-color: yellow;
    color: #3472A4;
}

h1, h2{
    color: rgb(39, 104, 156);
}

form{
    background-color: rgb(39, 104, 156);
    padding-bottom: 1rem;
    text-align: right;
}

input, .send-message-btn{
    margin: 1rem;
    border-style: none;
    padding: 0.5rem;
    background-color: rgb(185, 214, 238);
}

.big-text-box{
    height: 5rem;
    margin: 0 auto;
    width: 70%;
    padding: 0.5rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 3rem;
}

.send-message-btn{
    width: 30%;
    margin: 1rem;
    margin-top: 2rem;
    padding: 0.6rem;
    display: block;
    margin: 0 auto;
    background-color: rgb(185, 214, 238);
    color: rgb(22, 72, 112);
}

.send-message-btn:hover{
    background-color: yellow;
}

label{
    margin: 0 auto;
    color: white;
    padding-left: 0.7rem;
}

h2{
    font-size: 1.6rem;
    padding-top: 2rem;
}

main a{
    color: #3472A4;
}

main a:hover{
    color: yellow;
}

main{
    margin: 0 auto;
    margin-top: 3rem;
    padding: 0.5rem 2rem 3rem 2rem;
    background-color: rgb(185, 214, 238);
    width: 70%;
}

article{
    background-color: #3472A4;
    padding: 1.5rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 1.4rem;
}

article small{
    display: block;
    width: 100%;
}

article a{
    font-size: 1.7rem;
    color: yellow;
}

article a:hover{
    color: rgb(219, 219, 7);
}

a, .send-message-btn{
    transition: 0.7s;
}

nav, main, article, a, img, form, input, .send-message-btn{
    border-radius: 12px;
}