{% extends "layout.html" %}
{% block content %}
  <!-- MAIN CONTENT -->
  <main>
    <h1>Witaj na mojej stronie!</h1>
    <p>Nazywam się Michał, i jestem studentem Uniwersytetu Jagiellońskiego pasjonującym się programowaniem i nie tylko. Jeśli
      chcesz zobaczyć moje portfolio, znajdziesz je <a href="https://github.com/michalmytych">tutaj</a>. Jeśli chcesz dowiedzieć się
      czegoś ciekawego na temat programowania, lub innych dziedzin o których piszę, odwiedź mój <a href="/blog">blog</a>.
    </p>

  </main>
{% endblock content %}