<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <!-- TEMPORARY FONTS & STYLES-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tmp_styles.css') }}">
    <link rel="stylesheet" href="https://use.typekit.net/pkw8wgs.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


    {% if title and base_title %}
        <title>{{ base_title }} - {{ title }}</title>
    {% else %}
        <title>Michał Mytych</title>
    {% endif %}
</head>
<body>
    <!-- NAVIGATION BAR -->
    <nav>
      <a href="/">HOME</a>
      <a href="/blog">BLOG</a>
      <a href="/contact">CONTACT</a>
    </nav>

    {% block content %}{% endblock %}

</body>
</html>