{% extends "layout.html" %}
{% block content %}
<main>
    <h1>Mój blog programistyczny</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Accusantium ipsum nobis aperiam ut incidunt magni quisquam 
        quas quidem voluptatum harum repellendus impedit, nostrum 
        voluptate esse deserunt saepe, earum voluptatem. Atque!</p>

    {% for post in posts %}

    <article>
        <small>
            {% if variable is not none %}
                {{ post.author }}
            {% endif %}
        </small>

        <small>
            {% if variable is not none %}
                {{ post.date_posted }}
            {% endif %}
        </small>

        <a href="/home">
            {% if variable is not none %}
                {{ post.title }}
            {% endif %}
        </a>

        <p >
            {% if variable is not none %}
                {{ post.content }}
            {% endif %}
        </p>
        
        {% if post.img_url is not none %}
            <img src={{ url_for('static', filename= 'img/' + post.img_url) }}>
        {% endif %}

    </article>

    {% endfor %}

</main>
{% endblock content %}