{% extends "layout.html" %}
{% block content %}
  <!-- MAIN CONTENT -->
  <main>
    <h1>Dowiedz się jak możesz się ze mną skontaktować</h1>
    <p>
        Możesz do mnie napisać e-maila: {{mail}}, a oto mój profil na GitHubie: 
        <a href={{github_link}}>{{github_link}}</a>
    </p>


    <h2>Możesz też zostawić mi wiadomość:</h2>

    <form>
      <label for="name">Imię: </label>
      <input name="name" type="text">
      <label for="surname">Nazwisko: </label>
      <input name="surname" type="text">
      <label for="email">e-mail: </label>
      <input name="message" type="email">
      <label for="email">Wiadomość: </label>
      <input class="big-text-box" name="message" type="text">
      <button class="send-message-btn" type="submit">Wyślij</button>

    </form>


     <!-- ADD CONTACT FORM HERE -->



  </main>
{% endblock content %}